STARKNET_RPC_URL = ""

ACCOUNT_0_ADDRESS = ""
ACCOUNT_0_PK = ""

ACCOUNT_1_ADDRESS = ""
ACCOUNT_1_PK = ""

ACCOUNT_2_ADDRESS = ""
ACCOUNT_2_PK = ""

ACCOUNT_3_ADDRESS = ""
ACCOUNT_3_PK = ""

ACCOUNT_4_ADDRESS = ""
ACCOUNT_4_PK = ""